<article class="">
    <header class="">
        <div class="">
            <div class="">
                <h2>Sacré Tête !!</h2>
            </div>
        </div>
    </header>
    <div class=""></div>
    <div class="">
        <img class=""
            src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Fanimal.memozee.com%2FArchOLD-7%2F1193645414.jpg&f=1&nofb=1"
            alt="">
    </div>
    <div class=""></div>
    <div class="">
        <div class="">
            <div class=""><a class="" href="">
                    <i></i>
                </a>
            </div>
        </div>
    </div>
</article>