<header>
    <nav class="body">
        <a class="link"></a>
        <button class="">
            <span class=""></span>
        </button>
        <div class="">
            <ul class="">
                <li class="">
                    <a class="" href=""></a>
                </li>
                <li class="">
                    <a class="" href=""></a>
                </li>
            </ul>
            <form class="" action="">
                <input class="" type="search" placeholder="La recherche" />
                <button class="" type="submit">Recherche</button>
            </form>
        </div>
    </nav>
</header>